<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 配置自动扫描 Controller ，只对 Controller 注解 纳入 Spring 容器管理 ( 推荐方式 ) -->
    <context:component-scan base-package="org.vincent.controller">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!-- 设置service 服务组件的 依赖注入 basePackage -->
    <context:component-scan base-package="org.vincent.service"/>

    <!-- 配置视图解析器  prefix + 逻辑视图名 + suffix -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- 前缀 -->
        <property name="prefix" value="/WEB-INF/jsp/"></property>
        <!-- 后缀 -->
        <property name="suffix" value=".jsp"></property>
    </bean>

    <!-- 解决 responseBody 注解 中文乱码 问题 -->
    <mvc:annotation-driven   >
        <!-- Http请求消息转换成Java对象  register-defaults="false" 配置不使用默认的 消息转换器  -->
        <mvc:message-converters register-defaults="false">
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json;charset=UTF-8</value>
                        <value>text/plain;charset=utf-8</value>
                    </list>
                </property>
            </bean>
            <!-- 阿里fastjson -->
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter4"/>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- SpringMvc 指示哪些静态资源 需要单独处理，不通过 dispatcher Servlet.  -->
    <!-- 确保项目根目录下 css 目录的所有样式文件 是 可见的 -->
    <mvc:resources mapping="/css/**" location="/css/"/>
    <!-- 确保项目根目录下 page 目录的所有页面(*.html) 文件 -->
    <mvc:resources mapping="/*.html" location="/page/"/>




</beans>