<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee">
    <!-- Servlet3.1 begin tomcat8.0.x
           servlet 3.1 JSP 2.3, EL 3.0
           -->
    <!-- this.getServletContext().getServletContextName() 输出 display-name 标签的值 -->
    <display-name>UrlPattern Web Application</display-name>
    <!-- #################################################################################### -->
    <!-- 精确匹配 案例 -->
    <!-- url 必须和 url-pattenr 设置的一模一样 http://localhost:8888/urlpattern/vincent/exact.do -->
    <servlet>
        <servlet-name>ExactServlet</servlet-name>
        <servlet-class>org.vincent.servlet.ExactServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExactServlet</servlet-name>
        <url-pattern>/vincent/exact.do</url-pattern>
    </servlet-mapping>
    <!-- 精确匹配 案例 -->
    <!-- #################################################################################### -->

    <!-- #######################################目录匹配############################################# -->
    <!--短路径匹配-->
    <servlet>
        <servlet-name>dirshort</servlet-name>
        <servlet-class>org.vincent.servlet.dir.DirUrlPatternShortServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dirshort</servlet-name>
        <url-pattern>/vincent/dir/*</url-pattern>
    </servlet-mapping>
    <!--长路径匹配-->
    <servlet>
        <servlet-name>dirlong</servlet-name>
        <servlet-class>org.vincent.servlet.dir.DirUrlPatternLongServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dirlong</servlet-name>
        <url-pattern>/vincent/dir/v1/*</url-pattern>
    </servlet-mapping>
    <!-- #######################################目录匹配############################################# -->

    <!-- #######################################扩展名匹配############################################# -->
    <!-- 所有以 .do结尾的url 都会转发到这个servlet处理  -->
    <servlet>
        <servlet-name>ext</servlet-name>
        <servlet-class>org.vincent.servlet.ext.ExtendServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ext</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <!-- #######################################扩展名匹配############################################# -->
    <!-- 路径匹配
     /vincent/* 陷入死循环
     /vincent/ab/* 也会陷入死循环
     -->
    <!-- <servlet>
         <servlet-name>wildcardServlet</servlet-name>
         <servlet-class>org.vincent.servlet.TestAllServlet</servlet-class>
     </servlet>
     <servlet-mapping>
         <servlet-name>wildcardServlet</servlet-name>
         <url-pattern>/vincent/ab/*</url-pattern>
     </servlet-mapping>-->

    <!-- #################################################################################### -->
    <!-- 默认匹配 -->
    <servlet>
        <servlet-name>defaultServlet</servlet-name>
        <servlet-class>org.vincent.servlet.DefaultServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>defaultServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <!-- #################################################################################### -->
</web-app>
